<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>{{page.title}}</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" />
    <link  href="http://fonts.googleapis.com/css?family=Copse:regular" rel="stylesheet" type="text/css" >
	<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
<div id="wrapper"><!-- #wrapper -->

	<nav><!-- top nav -->
		<div class="menu">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Services</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</nav><!-- end of top nav -->
	
	<header><!-- header -->

	<h1>hello world</h1>

	</header><!-- end of header -->
	
	<section id="main"><!-- #main content area -->

<!-- Two columns, 1 article per column -->
				<section id="doublecols">
				  <article class="doubleblocks doubleleftblock">
				    <h2>What we do</h2>
					this is a test page	
				  </article>
				  <article class="doubleblocks doublerightblock">
				    <h2>Why you need us</h2>
					this is a test page	
					this is a test page	
					this is a test page	
				  </article>
				</section>

<!-- Triple columns with images, captions, and info blocks -->
			<article id="triplecols">
			{{content}}
				</article>
	</section><!-- end of #main content -->

		<footer>
		<section id="footer-area">

			<section id="footer-outer-block">
					<aside class="footer-segment first">
							<h3>Testimonials</h3>
								<ul>
									<li><a href="#">Grace Donovan from Burbsville</a></li>
									<li><a href="#">Roger Ritter from Washcloths R US</a></li>
									<li><a href="#">Big Kid from Bodybuilders Anonymous</a></li>
									</ul>
					</aside><!-- end of #first footer segment -->



					
					<aside class="footer-segment last">
							<h3>Legalese</h3>
								<p>&copy; 2010 <a href="#">yoursite.com</a> Integer nec odio. Praesent libero. Sed cursus ante.</p>
					</aside><!-- end of #last footer segment -->

			</section><!-- end of footer-outer-block -->

		</section><!-- end of footer-area -->
	</footer>
	
</div><!-- #wrapper -->
<!-- Free template created by http://freehtml5templates.com and modified by http://dedide.info 19/03/2011 -->
</body>
</html>
